<h1>Banco</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-5">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" title="CUI cuentahbiente" placeholder="Insert el nombre del banco que desea consultar" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Consultar</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</div>
